<!DOCTYPE html>
<html lang="en">

  {% include { site.baseurl }/head.html %}

<body>

  {% include "{ site.baseurl }/navigation.html" %}
  {% include { site.baseurl }/header.html %}
  {% include { site.baseurl }about.html %}
  {% include { site.baseurl }/services.html %}
  {% include { site.baseurl }/callout.html %}
  {% include { site.baseurl }/portfolio.html %}
  {% include { site.baseurl }/call-to-action.html %}
  {% include { site.baseurl }/map.html %}
  {% include { site.baseurl }/footer.html %}
  {% include { site.baseurl }/scripts.html %}

</body>

</html>
